{% extends 'crowdfunding/index.html' %}

{% load staticfiles %}
{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/images/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <span class="meta">Posted by <a href="#">{{ post.author|title }}</a> on {{ post.published_datetime|date:"F d, Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-primary">Amount - {{ post.amount }} </div>
                    <div class="col-md-6 text-info text-right">End Date - {{ post.end_date|date:"F d, Y" }}</div>
                </div>
                <p>{{ post.text|linebreaksbr }}</p>
                {% if user.user_extented.user_type == 'FR' %}
                    <div class="col-md-12 text-right">
                        <a href="{% url 'crowdfunding:crowdfunding' %}"><button type="button" id='btn-close-proposal' class="btn-color" data-post-id="{{ post.id }}">Close</button></a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-12" id="voting">
                <button type="button"
                        id="VoteBtn"
                        class="btn btn-success btn-like fa fa-thumbs-o-up"
                        data-loading-text=" ... " data-post-id="{{ post.id }}">
                    {{ upvote }}</button>
                <button type="button" id="VoteBtnDown" class="btn btn-success btn-like fa fa-thumbs-o-down" data-loading-text=" ... " data-post-id="{{ post.id }}">
                    {{ downvote }}</button>
            </div>
        </div>
    </div>
</article>

<hr>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/view_proposal.js' %}"></script>
{% endblock %}


