{% extends 'crowdfunding/index.html' %}

{% load staticfiles %}
{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/static/images/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <span class="meta">Posted by <a href="#">{{ post.author|title }}</a> on {{ post.published_datetime|date:"F d, Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 text-primary"><img src="{% static 'images/icon.png' %}" alt=" " width="22" height="22"/> <strong style="font-size: 20px; vertical-align: middle;"> {{ post.amount }} </strong></div>
                    <div class="col-md-6 text-info text-right" style="font-size: 20px;"><strong> End Date - {{ post.end_date|date:"M d, Y" }} </strong></div>
                </div>
                <p>{{ post.text|linebreaksbr }}</p>

            </div>
            <div class="col-md-6 text-right" id="voting">
                <button type="button"
                        id="VoteBtn"
                        class="btn btn-success btn-size-25 btn-like fa fa-thumbs-o-up"
                        data-loading-text=" ... " data-post-id="{{ post.id }}">
                    {{ post.up_count }}</button>
                <button type="button" id="VoteBtnDown" class="btn btn-success btn-size-25 btn-like fa fa-thumbs-o-down" data-loading-text=" ... " data-post-id="{{ post.id }}">
                    {{ post.down_count }}</button>
            </div>
            <!--{% if user.user_extented.user_type == 'FR' and post.state == 'DT' %}-->
                <!--<div class="col-md-6 text-right">-->
                    <!--<a href="{% url 'crowdfunding:crowdfunding' %}"><button type="button" id='btn-close-proposal' class="btn-color" data-post-id="{{ post.id }}">Close</button></a>-->
                <!--</div>-->
            <!--{% endif %}-->
            {% if user.user_extented.user_type == 'FR' and post.state == 'DT' %}
                <div class="col-md-6 text-right">
                    <button type="button" id='btn-rejection-proposal' class="btn-color" data-post-id="{{ post.id }}">Reject/Close</button>
                    <button type="button" id='btn-close-proposal' class="btn-color" data-post-id="{{ post.id }}">Accept/Close</button>
                </div>
            {% endif %}
            {% if user.user_extented.user_type == 'FR' and post.state != 'DT' %}
                <div class="col-md-5 text-right">
                    {% if post.state == 'CD' %}
                    <strong>Accept / Closed</strong>
                    {% endif %}
                    {% if post.state == 'RJ' %}
                    <strong>Reject / Closed</strong>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="post-footer">
            <div class="input-group">
                <textarea placeholder="Message" class="form-control" id="comment-text" name="comment-text" data-post-id="{{ post.id }}"></textarea>

                <!--<input class="form-control" id="comment-text" name="comment-text" placeholder="Add a comment" type="text" data-post-id="{{ post.id }}">-->
                <span class="input-group-addon">
                    <!--<a href="{% url 'crowdfunding:crowdfunding_detail' pk=post.pk %}"><button type="button" id='btn-submit-comment' class="fa fa-paper-plane" data-post-id="{{ post.id }}"></button></a>-->
                    <!--<button type="button" class="button-align-submit" id='btn-submit-comment' data-post-id="{{ post.id }}"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
                    <button type="button" class="button-align-submit" id='btn-submit-comment' data-post-id="{{ post.id }}">Post</button>
                </span>
            </div>
            {% for comment in comments %}
                <ul class="comments-list">
                    <li class="comment">
                        <a class="pull-left" href="#">
                            {% if comment.author.user_extented.user_image %}
                                <img class="img-circle avatar" src="{{ comment.author.user_extented.user_image.url }}" alt="avatar">
                            {% else %}
                                <img class="img-circle avatar" src="{% static 'images/img_avatar.png' %}" alt="avatar">
                            {% endif %}
                        </a>

                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{ comment.author|title }}</h4>
                            </div>
                            <p>{{ comment.text }}</p>
                            <ul class="list-unstyled list-inline">
                                <li>{{ comment.created_date }}</li>
                                <!--<li><a href="#" style="color: #4a245e;font-size: 1em;display:block;margin-top: 6px;margin-left: 2em;">Reply</a></li>-->
                            </ul>
                        </div>
                        <div class="input-group" style="display:none">
                            <textarea placeholder="Message" class="form-control text-index" id="comment-text-reply" name="comment-text" data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}"></textarea>
                            <span class="input-group-addon">
                                <button type="button" class="button-align-submit" id='btn-submit-comment-reply' data-post-id="{{ post.id }}" data-comment-id="{{ comment.id }}">Post</button>
                            </span>
                        </div>

                    </li>
                </ul>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}
        </div>


    </div>
</article>

<hr>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/view_proposal.js' %}"></script>
{% endblock %}


